name: CI Pipeline

on: [push]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      - name: Install dependencies
        run: |
          pip install pytest
          pip install -r requirements.txt
      
      - name: Run tests
        run: pytest tests/ --ignore=tests/test_routes.py

  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      - name: Install flake8
        run: pip install flake8
      
      - name: Run linting
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
